.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.titleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 64px;
    font-weight: bolder;
    justify-content: center;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.inputBox {
    height: 48px;
    width: 400px;
    font-size: large;
    border-radius: 8px;
    border: 1px solid grey;
    padding-left: 8px;
}

.movieList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movieDisplay {
    padding: 0 !important;
    width: 20rem;
    margin: 14px;
    border-radius: 10px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
    background-color: #113f67;
    display: flex;
    flex-direction: column;
    transition: transform 0.2s;
    position: relative;
}

.movieDisplay:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.movieDisplay:hover .movieTitle {
    opacity: 0.8;
}

.movieDisplay img{
    border-radius: 10px;
    height: 30rem;
}

.movieTitle {
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #113f67;
    position: absolute;
    bottom: 0;
    width: 100%;
    transition: 0.5s ease;
    opacity: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.titleText {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 260px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100px;
    background-color: #113f67;
    color: #e7eaf6;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.content {
    position: relative;
    min-height: 100vh;
    padding-top: 120px;
    padding-bottom: 20px;
}

.footer {
    background-color: #113f67;
    color: #e7eaf6;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 5rem;
}

.wrapper {
    max-width: none !important;
    min-height:100%;
    position:relative;
    padding-bottom: 5rem;
}

.logout {
    position: absolute;
    right: 12.5%;
    cursor: pointer;
}

.logout > svg {
    height: 2em;
}
